:host {
  display: block;
}

.toolbar-title {
  margin-right: 10px;
}

nav > a {
  padding: 17px;
  background: #03A9F4;
  text-decoration: none;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

a:hover {
  text-decoration: none;
}