@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
}

main {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}

.footer-link {
    color: darkmagenta;
}

my-app {
    height: 100%
}

md-input-container {
    width: 40%;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.user-card {
    width: 150px;
    display: inline-block !important;
    margin: 5px;
}

.repo-card {
    margin: 6px;
    text-align: left;
}

.search-result-container {
    margin: 10px 0;
}

/*>========================< ICONS >========================<*/
.prlang {
    background-size: cover;
    width: 30pt;
    height: 30pt;
}

.rust-icon {
    background-image: url('../public/img/prlang-icons/rust.png');
}

.lua-icon {
    background-image: url('../public/img/prlang-icons/lua.png');
}