.profile-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

md-sidenav {
    background: #1b1c4c;
    color: #fff;
    width: 23%;
    height: 100%;
    padding: 20px 0;
}

.profile-img {
    border-radius: 7px;
    width: 50%;
}

.profile-links {
    text-align: left;
}

.profile-nav-link {
    width: 100%;
    border-top: 1px solid gold;
    text-align: left;
    border-radius: 0;
}

.profile-nav-link:hover {
    color: #1b1c4c;
    background: gold;
}

.nav-link-last {
    border-bottom: 1px solid gold
}

md-sidenav-container, .my-content {
    margin: 0;
    width : 100%;
    height: 100%;
}

.mrg {
    margin-right: 5px;
}