<div class="profile-container" style="padding: 0">

    <md-sidenav-container>
        <md-sidenav mode="side" opened="true">
            <div class="my-content">
                <img src="{{ user.avatar_url }}" class="profile-img" />
                <p><strong>{{ user.login }}</strong></p>
                <p *ngIf="user.name"> {{ user.name }}</p>
                <a [routerLink]="['../', user.login]" md-button class="profile-nav-link"><i class="material-icons mrg">account_box</i> Профиль</a>
                <a [routerLink]="['repos']" md-button class="profile-nav-link"><i class="material-icons mrg">chrome_reader_mode</i> Репозитории</a>
                <a [routerLink]="['followers']" md-button class="profile-nav-link"><i class="material-icons mrg">group</i> Последователи</a>
                <a [routerLink]="['following']" md-button class="profile-nav-link"><i class="material-icons mrg">people_outline</i> Подписки</a>
                <a [routerLink]="['stars']" md-button class="profile-nav-link nav-link-last"><i class="material-icons mrg">star</i> Звёзды</a>
            </div>
        </md-sidenav>
        <div class="main-conentns">
            <div class="overview-pane" *ngIf="true">
                <h3>Вклад пользователя</h3>
                <img id="contributions-chart" src="{{ 'http://ghchart.rshah.org/673ab7/' + user.login }}" />
            </div>
            <router-outlet></router-outlet>
        </div>
    </md-sidenav-container>
</div>