<div class="profile-container" style="padding: 0">

    <md-sidenav-container>
        <md-sidenav mode="side" opened="true">
            <div class="my-content">
                <img src="{{ user.avatar_url }}" class="profile-img" />
                <p><strong>{{ user.login }}</strong></p>
                <p *ngIf="user.name"> {{ user.name }}</p>
                <button md-button class="profile-nav-link"><i class="material-icons mrg">account_box</i> Профиль</button>
                <button md-button class="profile-nav-link"><i class="material-icons mrg">chrome_reader_mode</i> Репозитории</button>
                <button md-button class="profile-nav-link"><i class="material-icons mrg">group</i> Последователи</button>
                <button md-button class="profile-nav-link"><i class="material-icons mrg">people_outline</i> Подписки</button>
                <button md-button class="profile-nav-link nav-link-last"><i class="material-icons mrg">star</i> Звёзды</button>
            </div>
        </md-sidenav>
    </md-sidenav-container>

    <div class="profile-contents">

    </div>

</div>